.troisimg {
	box-sizing : border-box;
	display : flex;
	justify-content : space-between;
	margin-left : 50px;
	margin-right : 50px;
	width : 80%;
	margin : 0 auto;
	h4 {
		margin-top: 0px;
	}

	.troisimg1 {
		box-sizing : border-box;
		background-image: url("http://lorempicsum.com/simpsons/750/600/6");
		background-repeat : no-repeat;
		height: 15em;
		width: 20em ;
	}

	.troisimg2 {
		box-sizing : border-box;
		background-image: url("http://lorempicsum.com/simpsons/750/600/6");
		background-repeat : no-repeat;
		height: 15em;
		width: 20em ;
	}

	.troisimg3 {
		box-sizing : border-box;
		background-image: url("http://lorempicsum.com/simpsons/750/600/6");
		background-repeat : no-repeat;
		height: 15em;
		width: 20em ;
	}
}	


.quatreimgbis {
	//box-sizing : border-box;

	display : flex;
	justify-content : space-around;
	margin-bottom : 50px;
	
	
	.quatreimg1bis {
		background-image : url("http://lorempicsum.com/rio/255/400/5");
		background-repeat : no-repeat;
		height: 20em;
		width: 15em ;
		text-align: center;
	}


	.quatreimg2bis {
		background-image : url("http://lorempicsum.com/rio/255/400/5");
		background-repeat : no-repeat;
		height: 20em;
		width: 15em ;
		text-align: center;
	}

	.quatreimg3bis {
		background-image : url("http://lorempicsum.com/rio/255/400/5");
		background-repeat : no-repeat;
		height: 20em;
		width: 15em ;
		text-align: center;
	}


	.quatreimg4bis {
		background-image : url("http://lorempicsum.com/rio/255/400/5");
		background-repeat : no-repeat;
		height: 20em;
		width: 15em ;
		text-align: center;
	}
}























































